@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the app takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents scrollbars if unwanted */
}