@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the app takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents scrollbars if unwanted */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}